@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<Header />

<NavMenu />

<AuthorizeView>
    <Authorized>
        <main id="main" class="main">
            @Body
        </main>
    </Authorized>
    <NotAuthorized>
        <main id="main" class="main">
            <LoginRedirect />
        </main>
        
    </NotAuthorized>
</AuthorizeView>

@* <main id="main" class="main">
    @Body
</main> *@

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>GIESPP - Gestão Inteligente da Educação e Saúde Pública e Privada</span></strong>. Todos os direitos reservados
    </div>

</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
